// Project Colors
$pink: #ce4dd6
$pink-light: #e096e0
$yellow: #fffb7b
$dark-gray: #333333
$light-gray: #b3b3b3



// DEFAULT COLORS
$c-primary:   $pink
$c-secondary: $yellow
$c-tertiary:  $dark-gray
$c-quadrary:  $light-gray

// COLOR SCHEMES
// use color-schemer if it's loaded
@if $color-schemer-loaded
  // Color schemes to choose from
      mono, complement, triad, tetrad, analogic, accented-analogic
  // Pick the base color for your scheme:
  $base-color: $c-primary
  // Select your scheme from the list and place it here:
  $color-scheme: accented-analogic
  // How distant do you want the hue offset to be:
  $hue-offset: 30
  // How distant do you want tints and shades to be from their base:
  $brightness-offset: 10%
  // Use Claude Boutet complements instead of RGB complements.
  // $color-theory: boutet
  // Set saturation to 100% and lightness to 50% on all colors
  // $equalize: true
  $c-primary:   color-schemer(primary)
  $c-secondary: color-schemer(secondary)
  $c-tertiary:  color-schemer(tertiary)
  $c-quadrary:  color-schemer(quadrary)



// Color variables expected by _defaults.sass ------------------
$base-color: $white
$text-color: $white
$alt-color: $pink-light
$background-color: $dark-gray
$border-color: $light-gray
