// Project Colors
$pink: #ce4dd6
$pink-light: #e096e0
$yellow: #fffb7b
$dark-gray: #333333
$light-gray: #b3b3b3
$not-white: shade($white, 5%)

$pink-trans-1: rgba(tint($pink-light, 60%), 0.8)
$pink-trans-2: rgba(tint($pink-light, 40%), 0.8)
$pink-trans-3: rgba(tint($pink-light, 20%), 0.8)
$pink-trans-4: rgba(tint($pink-light, 70%), 0.8)
$pink-trans-5: rgba($pink-light, 0.5)
$gray-trans-1: rgba($light-gray, 0.6)
$gray-trans-2: rgba($light-gray, 0.4)
$yellow-trans: rgba(tint($yellow, 20%), 0.4)



// DEFAULT COLORS
$c-primary:   $pink
$c-secondary: $yellow
$c-tertiary:  $dark-gray
$c-quadrary:  $light-gray

// COLOR SCHEMES
// use color-schemer if it's loaded
@if $color-schemer-loaded
  // Color schemes to choose from
      mono, complement, triad, tetrad, analogic, accented-analogic
  // Pick the base color for your scheme:
  $base-color: $c-primary
  // Select your scheme from the list and place it here:
  $color-scheme: accented-analogic
  // How distant do you want the hue offset to be:
  $hue-offset: 30
  // How distant do you want tints and shades to be from their base:
  $brightness-offset: 10%
  // Use Claude Boutet complements instead of RGB complements.
  // $color-theory: boutet
  // Set saturation to 100% and lightness to 50% on all colors
  // $equalize: true
  $c-primary:   color-schemer(primary)
  $c-secondary: color-schemer(secondary)
  $c-tertiary:  color-schemer(tertiary)
  $c-quadrary:  color-schemer(quadrary)



// Color variables expected by _defaults.sass ------------------
$base-color: $dark-gray
$text-color: $dark-gray
$alt-color: $pink-light
$background-color: $not-white
$border-color: $light-gray
