// Create the design for your site below
/* SITE-WIDE DESIGN --------------------------------------------------------------

// debugging outlines
  *
    outline: 1px dashed $badass

body
  @if $show-baseline == true
    +baseline-grid-background
  @else
    background:
      // image: repeating-linear-gradient(0deg, $transparent, $transparent $base-font-size, $gray-trans-3 $base-font-size, $gray-trans-3 ($base-font-size + 1))
      // use a png instead of the gradient because of weird chrome and ios rendering
      image: image-url("stripe-bg.png")
  &.survival-kit
    max-width: 95%

////////////////////////////
// site header
////////////////////////////
header
  +padding-leader(1)
  +backface-visibility(visible)
  position: relative
  z-index: 1
  overflow: hidden
  min-height: calc-em(242px, $base-font-size)
  background:
    image: linear-gradient(-55deg, $pink-trans-1 12em, $transparent 12em), linear-gradient(-60deg, $pink-trans-2 12em, $transparent 12em), linear-gradient(-65deg, $pink-trans-3 12em, $transparent 12em), linear-gradient(-70deg, $pink-trans-4 12em, $transparent 12em)
  hgroup
    position: relative
  #{headings(3)}
    position: relative
    font-family: $font-logo
    margin-top: 0
    margin-bottom: 0
  #{headings(2,3)}
    @extend %text-right
    @extend %white
    b
      background-color: $pink-trans-5
      @extend %yellow
      padding: 0.125em
  h1
    +adjust-font-size-to(ms(6),3)
    @extend %pink
    // padding-right: 0.125em
    +text-shadow(rgba($dark-gray, 0.5) 0.5px 1px 1px)
    text-transform: uppercase
    position: relative
    font-size: 3.5em
    b
      background-color: $not-white
  .no-csstransforms3d &
    h2
      position: relative
      top: -20px
  .csstransforms3d &
    +perspective(500)
    *
      +transform-style(preserve-3d)
    #{headings(3)}
      white-space: nowrap
    h1
      font-size: 5.5em
      +apply-origin(33% 50%, false)
      +transform3d(rotateX(13deg) rotateY(36deg) rotateZ(-5deg) translateZ(67px) scale(0.7) translateX(-63px) translateY(-1px))
      b
        padding-right: 2em
    #{headings(2,3)}
      font-size: 2em
      b
        padding-left: 0.6em
    h2
      +apply-origin(80% 50%, false)
      +transform3d(rotateY(-28deg) rotateZ(1deg) translateX(-100px) translateY(-26px) scale(0.8))
    h3
      +apply-origin(100% 50%, false)
      +transform3d(rotateY(20deg) translateX(-21px) scale(0.7))
      margin-top: -1em

////////////////////////////
// all content below the header
////////////////////////////
#all-content
  position: relative
  margin-top: -5em
  padding: 0 0.5em

////////////////////////////
// sign up form
////////////////////////////
#mc_embed_signup
  position: relative
  z-index: 0
  background:
    image: image-url("sass-robot.svg")
    repeat: no-repeat
    position: 100px 0
  +background-size(contain)
  min-height: image-height("sass-robot.png")
  margin-right: -8px
  padding-top: 15em
  padding-right: 95px
form[name=mc-embedded-subscribe-form]
  label
    @extend %h4
  [type=email]
    display: block
    max-width: 100%
    background-color: rgba($white, 0.9)
  [type=submit]
    float: right
    font-family: $font-headline
    text-transform: uppercase
    +sassy-button("matte", 3px, $base-font-size, $pink, false, $not-white, "inset")

////////////////////////////
// section icons
////////////////////////////
.icon
  width: 88px
  margin: 0 auto
  position: relative
  z-index: 1
  img
    width: 100%
  .learn &
    margin-bottom: calc-em(-42px, $base-font-size)
  .build &
    margin-bottom: calc-em(-42px, $base-font-size)
  .share &
    margin-bottom: calc-em(-28px, $base-font-size)

////////////////////////////
// section articles
////////////////////////////
article
  h3
    margin: 0 -8px
    padding-left: 8px
    background:
      image: linear-gradient(-165deg, $transparent ms(0), $pink-trans-5 ms(0))
  p
    clear: left

////////////////////////////
// speaker bios
////////////////////////////
.speaker
  img
    display: block
    margin: 0 auto
    border: 1px solid $white
    +box-shadow($gray-trans-1 0px 1em 0px 0.5em)
  .csstransforms3d &
    +perspective(500)
    img
      +transform-style(preserve-3d)
      +apply-origin(50% 100%, false)
      +transform3d(rotateX(-10deg) scale(0.9))
    h1
      text-align: center
